:root{
    --primary-color: #3066be;
    --secondary-color: #3c3744;
    --accent1:#b4c5e4;
    --accent2:#fbfff1;
}
header{
    background-color: var(--accent1);
}
#contact{
    color:black
}
#index{
    color:black
}
#trips{
    color:black

}
#about{
    color:black
}
header{
    max-width: 80%;
    margin:auto;
}
main{
    max-width: 80%;
    margin:auto;
}
footer{
    max-width: 80%;
    margin: auto;
}

h1{
    /* position:absolute; */
    color:var(--secondary-color);
    font-family:"permanent Marker", "";
    font-style: normal;
    /* position:absolute; */
}
h2{
    color:var(--secondary-color);
    font-family:"permanent Marker","roboto","raleway", "nunito";
    font-style: normal;
}
p{
    color:var(--secondary-color);
    font-family:"roboto", "raleway", "nunito", "open sans";
    font-style: normal;
}
#facebook{
    text-decoration: none;
}
#instagram{
    text-decoration: none;
}
#tiktok{
    text-decoration: none;
}
.hero img{
    display: block;
    width: 100%;
    height:auto;
    float:right;
}
#happy img{
    float:right;
    width: 10px;
    height:auto;
}

article{
    position:absolute;

}
.hero div{
    position:relative;
    height: 100px;
    width:auto;

}
.hero h1{
    position:absolute top;
}

.home nav{
    font-family: "roboto";
    font-size: medium;
}