

:root{
    --primary-color: #3066be;
    --secondary-color: #3c3744;
    --accent1:#b4c5e4;
    --accent2:#fbfff1;
}  
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  .permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }    

header{
    background-color: var(--accent1)
}

header{
    max-width: 80%;
    margin:auto;
}
main{
    max-width: 80%;
    margin:auto;
}
footer{
    max-width: 80%;
    margin: auto;
}

h1{
    /* position:absolute; */
    color:var(--secondary-color);
    font-family:"permanent Marker", serif;
    font-style: normal;
    /* position:absolute; */
}
h2{
    color:var(--secondary-color);
    font-family:"permanent Marker", "roboto";
    font-style: normal;
}
p{
    color:var(--secondary-color);
    font-family:"roboto", serif;
    font-style: normal;
}
#facebook{
    text-decoration: none;
}
#instagram{
    text-decoration: none;
}
#tiktok{
    text-decoration: none;
}
.hero img{
    display: block;
    width: 100%;
    height:auto;
    float:right;
}
#happy img{
    float:right;
    width: 10px;
    height:auto;
}

article{
    position:absolute;

}
.hero div{
    position:relative;
    height: 100px;
    width:auto;

}

.home nav{
    font-family: "roboto";
    font-size: medium;
}