

:root{
    --primary-color: #3066be;
    --secondary-color: #3c3744;
    --accent1:#b4c5e4;
    --accent2:#fbfff1;
    --heading:"Permanent Marker", serif;
    --paragraph:"roboto", serif;
}

header{
    background-color: var(--accent1)
}

header{
    max-width: 80%;
    margin:auto;
    display:grid;
    grid-template-columns: 50% 50%;
    
}
.home{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-grow:initial;
}
#index{
    display:flex;
    background-color: var(--accent2);
    text-decoration: none;
}
#about{
    display:flex;
    background-color: var(--accent2);
    text-decoration: none;
}
#trips{
    display:flex;
    background-color: var(--accent2);
    text-decoration:none;
}
#contact{
    display:flex;
    background-color:var(--accent2);
    text-decoration:none;
}
main{
    max-width: 80%;
    margin:auto;
}
footer{
    max-width: 80%;
    margin: auto;
}

h1{
    /* position:absolute; */
    color:var(--secondary-color);
    font-family: var(--heading);
    font-weight: 400;
    font-style: normal;
    /* position:absolute; */
}
h2{
    color:var(--secondary-color);
    font-family: var(--heading);
    font-weight: 400;
    font-style: normal;
}
p{
    color:var(--secondary-color);
    font-family: var(--paragraph);
    font-weight: 400;
    font-style: normal;
}
#facebook{
    text-decoration: none;
}
#instagram{
    text-decoration: none;
}
#tiktok{
    text-decoration: none;
}
.hero div{
    position:relative;
}
article{
    position:absolute;
    top: 350px;
    width: 80%;
    height:fit-content;
    background-color: rgba(48, 40, 152, 0.5);
}
.hero h1{
    position:absolute;
    top: 200px;
    color: var(--accent2);
}
#happy {
    height: 200px;
    width: auto;
    float:right;
}
#happy1{
    height: 200px;
    width: auto;
    float:right;
}
#happy2 {
    height: 200px;
    width: auto;
    float:right;
}

.hero img{
    display:block;
    width:100%;
    height:auto;
}
.home nav{
    font-family: "roboto";
    font-size: medium;
}
.hero p{
    color:var(--accent2)
}
.history {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.history img{
    display:flex;
}
.history p{
    display:flex;
    justify-content: center;
    align-items: center;

}
.history h2{
    display:flex;
    justify-content: flex-start;
}
.images {
    display:grid;
    grid-template-rows:20% 50%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;

    /* display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;   */
}
.images h2{
    grid-column:1 / 6;
}
.foot{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.foot nav{
    display:flex;
    justify-content: flex-end;
}
#one {
    width: 200px;
    height:auto;
}
#two {
    width: 200px;
    height:auto;
}

#three {
    width: 200px;
    height:auto;
}

#four {
    width: 200px;
    height:auto;
}

#five {
    width: 200px;
    height:auto;
}
button{
    background:rgb(255, 135, 135);
    padding: 1rem;
    margin: 1rem;
}
button:hover{
    background-color: var(--primary-color);
}
#about{
    padding:.5rem;
    border:5px solid black;
    border-radius:0.5rem;
}
#index{
    padding:.5rem;
    border:5px solid black;
    border-radius:0.5rem;
}
#contact{
    padding:.5rem;
    border:5px solid black;
    border-radius:0.5rem;
}
#trips{
    padding:.5rem;
    border:5px solid black;
    border-radius:0.5rem;
}
.employee{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
.information{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

