
:root {
    --consistant-blue: steelblue
}
nav {
    background-color: var(--consistant-blue);
    padding: 10px;}

nav a {
    color: white;
    display: block;
    padding: 20px}

h1 {
    color: var(--consistant-blue);}

main img {
    position:absolute;
    right: 100px;
    width: 200px;
    height: auto;
    border: 1px var(--consistant-blue);
    padding: 2px;
    box-shadow:none;}

p {padding: 0;}

main {
    max-width: 840px}

aside {
    width: 12.75rem;
    margin: 1rem;
    border: 10px solid rgba(0, 0, 0, 0.2);
    padding:20px;
    background-color: var(--consistant-blue);
    color: hsla(200,0%,0%,.7);
    text-align: left;}

aside img {
    width: 200px;
    height: auto;}

footer {
    margin-top: 10rem; 
    border-top: 10px solid black; 
    text-align: center;}